/* Write your CSS here! */
p{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 180px;
    margin-left: 100px;
    font-size: 500 px;
}

#mainHeading{
color: red;
font-family: Arial, Helvetica, sans-serif;
}
.funParagraph{
color: green;
font-weight: 200;
}
img{
    width: 500px;
    border-style: double;
    border-color: darkgreen;
    border-width: 20px;
}
body{
    margin: 8px;
    display: block;
    background-color: lightgoldenrodyellow;
}
div{
    font-weight: 300;
}
